<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/error.css">
</head>
<body>
<div class="main">
     <h1>INVALID USERNAME OR PASSWORD!!!</h1>

    <div class="home">
        <form action="/home" method="post">
            <button type="home" id="home" name="home">HOME</button></form>
         </div>
         <br>
</div>
</body>
</html>