<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ATTENDANCE SYSTEM USING FACE RECOGNITION</title>
    <link rel="stylesheet" href="/static/index.css">
</head>
<body>
    <div class = "title">
        <h1>ADMIN LOGIN</h1>
    </div>
    <div class ="home" >
        <div class="main">
            <br>

            <div class="btn">
                
                <br><br>
                
            <form action="/admin" method="post">
             <input type="text" id="username" name="username" placeholder="USERNAME" required>
             <br><br>
             <input type="password" id="password" name="password" placeholder="PASSWORD" required>       
 
            
                <br><br>  
                <button type="submit" name="login">LOGIN</button>
            </form>
            <br>
            <form action="/home" method="post">
                <button type="home" id="home" name="home">HOME</button></form>
        <br><br><br>
    </div>
    </div>
    </div>
</body>
</html>